tr td:first-of-type {
  background-color: black;
}

td, th {
  background-color: green;
  font-size: 20px;
  color: white;
  line-height: 50px;
  text-align: center;
  height: 50px;
  width: 50px;
  border: 10px solid white;
}

td:hover {
  cursor: pointer;
}

th {
  background-color: black;
}

body {
  background-color: #ccffff;
  text-align: center;
}

h1{

   text-shadow: 6px 6px #99c2ff;

}
